
@{
    ViewData["Title"] = "Help";
}

<h1>BasketBal Bond</h1>
<p>Deze pagina is voor het helpen met de Basketbal App.</p><br />
<p>Check of je internet verbinding goed is. Ben je vebonden met de VPN?</p>
<p>Bent u ingelogd met het goede account?</p>
<p>Ziet niet uw wedstrijden, Clubs, Teams? Refresh pagina of log opnieuw in.</p>
<hr/>
<div class="row">
    <div class="col-md-10 col-md-push-1">
        <div class="alert alert-info">
            <h3>Neem Contact op<i class="fa fa-warning pull-right"></i></h3>
            Als je geen vragen helpt over het programma maar over een probleem,<br/>
            neem dan contact met ons op <a href="https://www.basketball.nl/organisatie/contact/">https://www.basketball.nl/organisatie/contact/</a>.
        </div>
    </div>
</div>

