@model List<SpelerVM>

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>
hier komt een specifieke team <br />
<ul class="list-group">

    @foreach(SpelerVM vm in Model)
{
    <li class="list-group-item col-sm-2">@vm.FirstName </li> 
}
</ul>


<a href="##" onClick="history.go(-1); return false;">Go back</a>  
