@model TeamVM
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>
hier komt een specifieke team
@Model.Name Heeft ID: @Model.ID en zegt Hallo!! <br />

<a href="##" onClick="history.go(-1); return false;">Go back</a>  
