@model List<TeamVM>
@{
    ViewData["Title"] = "Index";
}

<h1>VerkoperTest</h1>
Denk je nou echt dat dit gaat werken voor je makker veel geluk het programma in komen
<br />

@foreach (TeamVM vm in Model)
{
    <a asp-action=Detail asp-route-TeamID=@vm.ID>@vm.Name</a>
    <br />
}
<br />
<form asp-action="Index" method="POST">
    <div>
        <input id="Name" type="text" asp-for="Name" class=" form-control" placeholder="Voer Team naam in">
        <select name="Team" id="LeeftijdsCategorieID" placeholder="Kies je LeeftijdsCategorie">
            <option value=1>10</option>
            <option value=2>12</option>
            <option value=3>14</option>
            <option value=4>16</option>
            <option value=5>18</option>
            <option value=6>20</option>
        </select>
        <button type="submit" class="btn btn-primary btn-lg">
            Create &nbsp;
            <span class="glyphicon glyphicon-save"></span>
        </button>
    </div>
</form>

<a href="##" onClick="history.go(-1); return false;">Go back</a>  