@model List<TeamVM> 
@{
    ViewData["Title"] = "Index";
}

<h1>VerkoperTest</h1>
Denk je nou echt dat dit gaat werken voor je makker veel geluk het programma in komen<br />
@foreach(TeamVM vm in Model)
{
    <a asp-action=Detail asp-route-id=@vm.ID>@vm.Name</a> <br />
}
<br/>
<a href="##" onClick="history.go(-1); return false;">Go back</a>  