@model TeamCreateAndViewVM
@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Http

<h1>Teams van onze club</h1>
<br />
<div class="container-fluid">
    @foreach (TeamVM vm in Model.Teams)
    {
        <div class="form-control">
            <a asp-action=Detail asp-route-TeamID=@vm.ID>@vm.Name</a>
        </div>
        @if (1 == Context.Session.GetInt32("RoleID") && Context.Session.GetInt32("ClubID") == Context.Session.GetInt32("TempClubID"))
        {
            <form asp-action=DeleteTeam asp-route-teamID=@vm.ID class="d-flex justify-content-end" method="POST">
                <button type="submit" class="btn btn-danger btn-sm">Delete Team</button>
            </form>
        }

        <br />
    }
    <br />
    @if (1 == Context.Session.GetInt32("RoleID") && Context.Session.GetInt32("ClubID") == Context.Session.GetInt32("TempClubID"))
    {
        <form asp-action="CreateTeam" method="POST" >
            <div class="container p-5 " style="background-color:lightgray;">
                <input id="Name" type="text" asp-for="Name" class="form-control" placeholder="Voer Team naam in">

                <select name="LeeftijdsCategorieID" id="LeeftijdsCategorieID">
                    <option value=1>10</option>
                    <option value=2>12</option>
                    <option value=3>14</option>
                    <option value=4>16</option>
                    <option value=5>18</option>
                    <option value=6>20</option>
                </select>
                <button type="submit" class="btn btn-primary btn-md" >
                    Create &nbsp;
                    <span class="glyphicon glyphicon-save"></span>
                </button>
            </div>
        </form>
    }
    <button class="btn btn-default btn-sm" href="##" onClick="history.go(-1); return false;">Go back</button>
</div>