@model TeamCreateAndViewVM
@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Http

<h1>Teams van onze club</h1>
<br />
<div class="container-fluid p-2 border border-2 border-dark rounded overflow-hidden" style="background-color: lightgray;">
    <div class="row g-3 p-2" >
        @foreach (TeamVM vm in Model.Teams.OrderByDescending(Team => Team.LeeftijdsCategorieID))
        {
            <div class="col-2" >
                <form asp-action=DeleteTeam asp-route-teamID=@vm.ID class="d-flex text-center"  method="POST">

                    <div class="col p-2 border border-1 border-dark rounded " style="background-color: whitesmoke; ">

                        <a style="text-decoration: none;  color: black; display: block" asp-action=Detail asp-route-TeamID=@vm.ID>@vm.Name</a>

                    </div>

                    @if (1 == Context.Session.GetInt32("RoleID") && Context.Session.GetInt32("ClubID") == Context.Session.GetInt32("TempClubID"))
                    {

                        <button type="submit" class="btn btn-danger btn-sm" >Delete Team</button>

                    }
                </form>
            </div>

        }
    </div>

    <br />

    @if (1 == Context.Session.GetInt32("RoleID") && Context.Session.GetInt32("ClubID") == Context.Session.GetInt32("TempClubID"))
    {
        <form asp-action="CreateTeam" method="POST">
            <div class="container p-5  border border-1 border-dark rounded" style="background-color:silver;">
                <input id="Name" type="text" asp-for="Name" class="form-control" placeholder="Voer Team naam in" autocomplete="off">

                <select name="LeeftijdsCategorieID" id="LeeftijdsCategorieID">
                    <option value=1>10</option>
                    <option value=2>12</option>
                    <option value=3>14</option>
                    <option value=4>16</option>
                    <option value=5>18</option>
                    <option value=6>20</option>
                </select>
                <button type="submit" class="btn btn-primary btn-md">
                    Create
                </button>
            </div>
        </form>
    }
    <button class="btn btn-default btn-sm" href="##" onClick="history.go(-1); return false;">Go back</button>
</div>