@model List<WedstrijdVM>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Jouw Komende Wedstrijden</h1>

    <br />
    <p>
        <div>
            @foreach (WedstrijdVM vm in Model)
            {
                <a asp-controller="Wedstrijd" asp-action="Detail" asp-route-WedstrijdID=@vm.ID
                display: block; style="text-decoration: none;">
                    <div class="col-sm-6 col offset-3 pt-2  BasketballSecondaryTheme">
                        <p>
                            <h3><strong>@vm.thuisClub.Name VS @vm.uitClub.Name</strong></h3> <br>
                            &nbsp;&nbsp;@vm.speelDatum
                        </p>
                    </div>
                </a>
            }
        </div>
    </p>
</div>
