@model List<WedstrijdVM>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Jouw Komende Wedstrijd</h1>
    <br />
    @if (Model.FirstOrDefault() != null)
    {
        <a asp-controller="Wedstrijd" asp-action="Detail" asp-route-WedstrijdID=@Model.FirstOrDefault().ID
       display: block; style="text-decoration: none;">
            <div class="col-sm-6 offset-3 pt-2 border border-3 border-dark rounded BasketballSecondaryTheme">
                <p>
                    <h3><strong>@Model.FirstOrDefault().thuisClub.Name VS @Model.FirstOrDefault().uitClub.Name</strong></h3>
                <p class="text-center">@Model.FirstOrDefault().speelDatum</p>
                </p>
            </div>
        </a>
    }
    else
    {
        <div>
            <h3>Er zijn geen komende wedstrijden meer</h3>
        </div>
    }
    <hr/>
    <div class="col-sm-6 offset-3 p-4 border border-3 border-dark rounded " style="background-color: lightgray; ">
        <a href="https://www.basketball.nl/" style="display: block; text-decoration: none; color: black;">
            <h3>bezoek ook onze andere website</h3>
        </a>
    </div>   
    <br />
    <div class="col-sm-6 offset-3 p-4 border border-3 border-dark rounded " style="background-color: lightgray;">
        <a href="https://www.basketball.nl/competities/competities-en-evenementen/" style="display: block; text-decoration: none;  color: black;">
            <h3>Evenementen</h3>
        </a>
    </div>
</div>
