@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">JOUW WEDSTRIJDEN VIEW COMING SOON</h1>
    <p>
        Hier komt een rij van toekomstige wedstrijden die de ingelogde gebruiker heeft.
        <br />
        Als de gebruiker niet is in gelogd moet hier ook iets staan zoals een overview van clubs of gewoon een instant redirect naar inloggen.
    </p>
</div>
