@model WedstrijdVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Jouw Komende Wedstrijd</h1>
    <br />
    <a asp-controller="Wedstrijd" asp-action="Detail" asp-route-WedstrijdID=@Model.ID display: block; style="text-decoration: none;">
        <div class="col-sm-6 offset-3 pt-2 border border-3 border-dark rounded BasketballSecondaryTheme">
            <p>
                <h3><strong>@Model.thuisClub.Name VS @Model.uitClub.Name</strong></h3> <br>
            <p class="text-center">@Model.speelDatum</p>
            </p>
        </div>
    </a>

</div>
