@{
    ViewData["Title"] = "Index";
}

<h1>Index van Account</h1>

<head>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<div class="form-group col-sm-3 " style="color: black;">
    <a asp-action="login"class=" form-control "> Login</a>
</div>
<div class="form-group col-sm-3 " style="color: black;">
    <a asp-action="Register" class=" form-control "> Registreren</a>
</div>

