@model List<WedstrijdVM>
@{
    ViewData["Title"] = "Index";
}


<body>
    <div class="text-center">
        <h1>Jouw Wedstrijden</h1>
        @foreach (WedstrijdVM vm in Model.OrderBy(Date => Date.speelDatum).Where(e => e.speelDatum > DateTime.Now).ToList())
        {
            <a asp-controller="Wedstrijd" asp-action="Detail" asp-route-WedstrijdID=@vm.ID
           display: block; style="text-decoration: none;">
                <div class="col-sm-6 offset-3 pt-2 border border-3 border-dark rounded BasketballSecondaryTheme">
                    <p>
                        <h3><strong>@vm.thuisClub.Name VS @vm.uitClub.Name</strong></h3> <br>
                        <p  class="text-center">@vm.speelDatum</p>
                    </p>
                </div>
            </a>
            <br />
        }
        
    </div>



</body>
