@model List<WedstrijdVM>
@{
    ViewData["Title"] = "Index";
}

<h1>Jouw Wedstrijden</h1>
<body style="background-color:powderblue;">
    <div style="background-color:#ff0000;">
        @foreach (WedstrijdVM vm in Model)
        {
            <a asp-controller="Wedstrijd" asp-action="Detail" asp-route-WedstrijdID=@vm.ID 
                display: block; style="color: #ffffff; text-decoration: none; ">
                <div class="container" style="background-color:#38cf7e">
                    <p>
                        @vm.thuisClub.Name VS @vm.uitClub.Name <br>
                        &nbsp;&nbsp;@vm.speelDatum
                    </p>
                </div>
            </a>
        }
    </div>

    <div>
        <a asp-controller="Wedstrijd" asp-action="Create"> Wedstrijd Inplannen</a>
    </div>
</body>
