@model List<ClubVM>
@{
    ViewData["Title"] = "Index";
}

<h1>ClubList</h1>
@foreach (ClubVM vm in Model)
{
    <div >
        <button type="button"onclick="location.href='@Url.Action("Index", "Team", new{ clubID = vm.ID})'">@vm.Name</button>
    </div>
    <br />
}
<br />
<button class="btn btn-default btn-sm" href="##" onClick="history.go(-1); return false;">Go back</button>